body {
    padding: 0px;
}

.cont-post{
    padding: 5px;
    width: 30rem;
    height: 170px;
    border: 1px solid #ccc;
    box-shadow: 5px 3px 10px #888888;
    background: #ecebeb;
    border-radius: 10px;
}
.autore-post h3{
    margin: 0;
    padding: 10px;
    padding-bottom: 0;
}
.autore-post div{
    padding: 5px;
    padding-top: 0;
    padding-left: 10px;
    color: darkcyan;
    font-size: 13px;
}
.tw-post{
    padding: 5px;
    background: #fff;
    border-radius: 5px;
}
.data-post{
    color: darkcyan;
    font-size: 13px;
    padding-left: 40px;
    padding-top: 10px;
}
