body {
    font-family: Arial, Helvetica, sans-serif;
    background: #273846;
    color: #FFF;
}

/* Form di inserimento */
.create-post-body {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    padding: 20px;
    background: #ebebeb;
    border: 3px solid black;
    border-radius: 10px;
}

.create-post-author {
    font-size: larger;
}

.btn-container {
    text-align: center;
}

.create-post-input {
    text-align: center;
}

.input-textarea {
    color: #273846;
    min-width: 493px;
    min-height: 100px;
    max-width: 493px;
    max-height: 300px;
    font-size: initial;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    border: 0px;
    background-color: transparent;
    outline: none;
}

.input-title {
    color: #273846;
    width: 493px;
    height: 30px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 5px;    
    border: 0px;
    background-color: transparent;
    outline: none;
}

.btn-create-post {
    width: 480px;
    height: 27px;
    background-color: #273846;
    color: #ebebeb;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
    .btn-create-post:hover {
        background-color: #273846db;
        color: #ebebeb;
    }

    .btn-create-post:active {
        background-color: #ebebeb;
        color: #273846;
    } 

.statistic {
    color: black
}

/* Post */
.post-body {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    padding: 20px;
    background: #ebebeb;
    border: 3px solid black;
    border-radius: 10px;
}

.post-author {
    font-size: larger;
    float: left;
    display: contents;
}

.post-delete-btn {
    float: right;
}

.btn-delete {
    height: 25px;
    width: 20px;
    background: url(../icons/delete.svg);
    border: 0px;
    background-position: center;
    cursor: pointer;
    outline: none;
}

.post-title {
    font-size: x-large;
    font-weight: bold;
    margin: auto;
}

.post-date {
    font-size: small;
}

.post-edited {
    font-size: small;
    float: right;
    color: red;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
}